html, body {
    margin: 0px;
    height: 100%;
    width: 100%;
    background: transparent;
}

#loginform {
    position: absolute;
    width: 350px !important;
    top: 20%;
    left: calc(50% - 175px);
}

.row {
    width: 100% !important; 
}

.btn-jade {
    background: #2d3e50 !important;
    color: #00ff6c !important;
}

.btn-jade.btn-simple {
    background: transparent !important;
    color: #2d3e50 !important;
}

#option-box {
    width: 100%;
    min-height: 300px;
    padding: 20px;
    text-align: center;
    background: rgba(30, 30, 30, 0.9);
    color: white;
    position: absolute;
    top: 20%;
    display: none;
}

#subtitle-box {
    width: 100%;
    /*min-height: 300px;*/
    padding: 5px;
    text-align: center;
    background: rgba(30, 30, 30, 0.9);
    color: white;
    position: absolute;
    top: 0;
    display: none;
}